<app-detalle *ngIf="productoSeleccionado" [producto] ="productoSeleccionado"></app-detalle>

<div class="card border-primary mb-3">
    <div class="card-header">Productos</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de productos</h5>
        <div class="my-2 text-left">
        <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/productos/form']">
            Crear Producto
        </button>
        </div>
        <div *ngIf="productos?.length == 0" class="alert alert-info">
        No hay registros en la base de datos!
        </div>

        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>Producto</th>
                <th>Fecha</th>
                <th>Acción</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productos">


                <td *ngIf="authService.hasRole('ROLE_USER')">
                  <div class="d-flex align-items-center">
                    <img (click)="abrirModal(producto)" *ngIf="producto?.foto"
                        src="http://localhost:8080/api/productos/uploads/img/{{producto.foto}}"
                        alt="{{cliente.foto}}"
                        style="width: 45px; height: 45px; cursor: pointer;"
                        class="rounded-circle"
                        />


                    <img (click)="abrirModal(producto)" *ngIf="!producto?.foto"
                        src="http://localhost:8080/images/no-producto.png"
                        alt="Sin foto"
                        style="width: 45px; height: 45px; cursor: pointer;"
                        class="rounded-circle"
                        />
                    <div class="ms-3">
                      <p class="fw-bold mb-1"> {{producto.nombre}} </p>
                      <p class="text-muted mb-0">{{ producto.precio }}</p>
                    </div>
                  </div>
                </td>
                <td>{{ producto.createAt }}</td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                  <button type="button" class="btn btn-link btn-sm btn-rounded" [routerLink]="['/productos/form', producto.id]">
                    Editar
                  </button>
                </td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                  <button type="button" class="btn btn-link btn-sm btn-rounded" (click)='delete(producto)' >
                    Eliminar
                  </button>

                </td>
              </tr>
            </tbody>
          </table>
          <paginador-pro *ngIf="paginador" [paginador]="paginador"></paginador-pro>

    </div>
</div>

